.imageContainer {
  top: 0px;
  left: 0px;
  width: inherit;
  height: fit-content;
  position: relative;
  min-height: 302px;
  max-height: 670px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 670px;
  object-fit: fill;
  cursor: pointer;
}

.imagePopup {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
