/* .devicesTable {
    display: flex;
    flex-direction: column-reverse;
} */

.deviceContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.deviceItem {
    border-top: 1px solid #dee2e6;
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
}

.deviceItem th, td{
    border-top: none !important;
}

.deviceButton{
    width: 100%;
    background: tomato !important;
    margin-bottom: 3rem;
}

.deviceButton svg {
    margin-left: 1rem;
}

@media screen and (max-width: 680px){
    .deviceItem {
        display: flex !important;
        flex-direction: column !important;
    }

    .deviceItem th {
        padding: 0 0.75rem !important;
        padding-top: 0.75rem !important; 
        border-top: none !important;
    }

    .deviceItem td {
        padding: 0.5rem ;
        padding-top: 0;
    }
}