
* {
    box-sizing: border-box;
    margin: 0;
  }
  

  .timesIcon{
    cursor: pointer;
    color: lightslategrey;
    border: 1px solid gray;
  }

  .tag:hover {
    background-color: rgb(151, 151, 151);
  }
  input {
    border: 0;
    outline: 0;
    height: 48px !important;
    padding: 0;
    flex: 1;
    min-width: 80px;
  }

  button:hover {
    background-color: darken(lightgray, 10);
  }

  .error {
    padding: 5px 0;
    color: #3d3d3d;
    font-size: 12px;
  }