.optionsBox {
  background-color: #3e3f5e;
}

.suscribeButton {
  display: flex;
  justify-content: right;
  position: static !important;

  padding-left: 10px;
}

.suscribeButtonText {
  padding: 0 0.5rem !important;
}

.socialLinksWrapAdjustment {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1366px) {
  /* For mobile phones: */
  [class*='suscribeButton'] {
    align-items: flex-end;
    padding-top: 7px;
  }

  [class*='socialLinksWrapAdjustment'] {
    display: flex;

    justify-content: center;
  }
}

@media only screen and (max-width: 680px) {
  .profileHeaderCoverMobile {
    border-radius: 0 !important;
  }
  .suscribeButtonText {
    padding: 0.1 !important;
    width: 120px !important;
  }
}
