@media only screen and (max-width: 480px) {
    .profile-header .profile-header-info .user-stats .user-stat:last-child, .profile-header .profile-header-info .user-stats .user-stat:nth-last-child(2):after {
        display: block!important;
    }
    .user-stat.big {
        padding: 0 13px!important;
    }
    .user-stat-image {
        margin-left: auto;
        margin-right: auto;
    }
}