.shareComponent {
  position: fixed;
  z-index: 1;
  margin-top: 1rem;
  margin-left: 70%;
}

.dotsShare {
  height: 8px !important;
  width: auto !important;
  fill: #3e3f5e !important;
}

.dotsShare :hover {
  fill: #000 !important;
}

.mainPopup {
  padding: 25px;
}

.shareHeader {
  text-align: left;
  margin-bottom: 25px;
}

.socialLinkTitle {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1366px) {
  /* For mobile phones: */
  [class*='mainPopup'] {
    padding: 15px;
  }

  .shareComponent {
    margin-left: 85%;
  }
}

@media only screen and (min-width: 681px) {
  .shareComponent {
    margin-left: 60%;
  }
}
