.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background-color: rgba(173, 175, 202, 0.9);
  padding: 10px
}

.innerFooter {
  padding-top: 10px;
}

.innerFooter .logoContainer {
  width: 35%;
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

.innerFooter .footerThird {
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: right;
  height: 100%;
}

.innerFooter .footerThird :last-child {
  margin-right: 0;
}

.innerFooter .footerThird h5 {
  width: 100%;
  margin-bottom: 20px;
}

.innerFooter .footerThird a {
  display: block;
  font-weight: 200;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  .footer .innerFooter {
    width: 80%;
  }

  .innerFooter .logoContainer,
  .innerFooter .footerThird {
    width: 100%;
    margin-bottom: 30px;
  }
}
