@media screen and (max-device-width: 812px) {
    .grid-photos {
        display: flex;
        flex-wrap: wrap;
        grid-gap: .1px!important;
    }
    .widget-photos {
        padding: 10px 10px;
    }
    .album-preview {
        width: 32%;
        height: auto!important;
        margin: .5px;
    }
    .album-preview img {
        border-radius: 0!important;
    }
    .widget-photos {
        padding: 0%!important;
    }
  }

  .album-preview {
    max-height: 284px!important;
  }

  .rec .rec-slider-container {
    height: 100vh!important;
  }