.album-preview {
    max-height: 300px!important;
    width: 105%;
  }

  .album-preview img {
    border-radius: 0!important;
  }

  
  .goToPost {
    position: fixed;
    bottom: 55px;
    padding: 10px;
    border: 0.8em;
    color: white;
    font-weight: bolder;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0px 0px #333;
    border-radius: .4em;
    text-align: center;
    line-height: 5px;
}
.containerLink {
    display: flex;
    justify-content: center;
}

@media screen and (max-device-width: 812px) {
    .grid-photos {
        display: flex;
        flex-wrap: wrap;
        grid-gap: .1px!important;
        justify-content: space-between!important;
    }
    .widget-photos {
        padding: 10px 10px;
    }
    .album-preview {
        width: 33%;
        height: auto!important;
        margin: .5px;
    }
    .widget-photos {
        padding: 0%!important;
    }
    .class-up > div > div > div {
        height: 100vh!important;
    }
  }
